* {
    margin: 0 0;
    padding: 0 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft Yahei", sans-serif;
}

body {
    background-color: #aaaaaa;
}

header {
    width: 100%;
    margin-bottom: 10px;
    background-color: #e6e3ff;
}

.main {
    width: 900px;
    margin: 0 auto;
    background-color: darkgray;
}

nav {
    width: 20%;
    float: left;
    background-color: darkkhaki;
}

nav ul {
    border-left: darkblue solid 1px;
    border-right: darkblue solid 1px;
    border-top: darkblue solid 1px;
}

nav ul li {
    height: 2em;
    line-height: 2em;
    padding-left: 1.5em;
    background-color: #e3dcff;
    list-style-type: none;
    border-bottom: darkblue solid 1px;
}

nav ul li:first-child {
    height: 2.5em;
    line-height: 2.5em;
    font-weight: bold;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .05) -17%, rgba(255, 255, 255, .05) 117%);
}

.content {
    width: 79%;
    min-height: 500px;
    float: right;
    overflow: hidden;
    background-color: cornflowerblue;
}

.content .content_title {
    width: 100%;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: 600;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .05) -17%, rgba(255, 255, 255, .05) 117%);
}

.content .beforeandnext {
    width: 100%;
    height: 2em;
    line-height: 2em;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .05) -17%, rgba(255, 255, 255, .05) 117%);
}

.content .before {
    float: left;
    margin-left: 4em;
    cursor: hand;
}

.content .before:before {
    content: "←";
}

.content .next {
    float: right;
    margin-right: 4em;
    cursor: hand;
}

.content .next:after {
    content: "→";
}

.content .article {
    margin: 1.5em;
}